[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wheel = "*"
twine = "*"
google-cloud-datastore = "*"
flask-restplus = "*"
inflection = "*"
grpcio = "*"
gunicorn = "*"
flask-security = "*"
sqlalchemy = "*"
bcrypt = "*"
"psycopg2-binary" = "*"

[dev-packages]
pytest-cov = "*"
pytest-black = "*"
"pytest-flake8" = "*"
pytest = "*"

[requires]
python_version = "3.7"
