{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
<div>
    <h2>Ingredients <a href="/create/ingredient/">Create</a></h2>
    {% for ingredient in ingredients %}
        <div>
            <span>{{ ingredient.name }}</span> - 
            <span>{{ food_groups[ingredient.food_group_id].name }}</span>
        </div>
    {% endfor %}
</div>
<div>
    <h2>Recipes <a href="/create/recipe/">Create</a></h2>
    {% for recipe in recipes %}
        <div>
        <h3>{{ recipe.name }}</h3>
        {% for ingredient in recipe.ingredients %}
            <span>{{ ingredient.name }}</span> - 
            <span>{{ ingredient.amount }}g</span>
            <br/>
        {% endfor %}
        </div>
    {% endfor %}
</div>
<div>
    <h2>Meals <a href="/create/meal/">Create</a></h2>
    {% for meal in meals %}
        <span>{{ meal.date }}</span><br/>
        {% for portion in meal['portions'] %}
            <span>{{ portion.name }}</span>
            <span>{{ portion.servings }} servings</span>
            <br/>
        {% endfor %}
    {% endfor %}
</div>
<div>
    <h2>Todays proportions</h2>
    {% for food_group in food_groups %}
    {% with %}
        {% set food_group_proportion = food_group_proportions[food_group.id] %}
        <span>{{ food_group.name }}</span><br/>
        <span>{{ food_group.grams }}/{{ food_group_proportion }}</span><br/>
    {% endwith %}
    {% endfor %}
</div>
{% endblock %}
